<!DOCTYPE html>
<head>
<style>
body {
    background-color: linen;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 
</style>
<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>
<h1>Seeder</h1>
<div>
<ul>
  <% for(var i = 0; i < pTitles.length; i++){ %>
  <li><a href="/category/<%= pTitles[i].category_id %>/post/<%= pTitles[i].id %>"><%= pTitles[i].title %></a></li> <% } %>
</ul>
</div>
<div>
<ul>
  <% for(var i = 0; i < cTitles.length; i++){ %>
  <li><a href="/category/<%= cTitles[i].id %>"><%= cTitles[i].title %></a></li> <% } %>
</ul>
</div>

<a href="/categories/new">Add a new category</a>
</br>
<a href="/categories">See all categories</a>
</body>
<html>