<!DOCTYPE html>
<head>
<style>
@import url(http://fonts.googleapis.com/css?family=Raleway:900);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
body {
    background-color: #dee;
}

h1 {
    color: #545444;
    padding-left: 50px;
    font-family : Raleway;
} 
button {
    margin-left: 45px;
    margin-top : 10px;
    width : 200px;
    height : 50px;
    border-style: none;
    background : #37B06D;
    overflow : hidden;
    text-align : center;
    border-radius : 3px;
}
a:link {
    text-decoration: none;
    color: #545444;
}

a:visited {
    text-decoration: none;
    color: #545444;
}

a:hover {
    text-decoration: none;
    color: #2c2625;
}

a:active {
    text-decoration: none;
    color: #2c2625;
}
a.green {
      font-family: raleway;
      color: #fff;
      font-size: 1.3em;
}
ul {
    list-style-type: none;
}
li#posts {
    margin: 6px;
    padding: 13px;
    border-radius: 3px;
    text-decoration: none;
    font-family : Raleway;
    background-color: rgba(255, 255, 255, .5);
}
li#posts:hover {
    margin: 6px;
    padding: 13px;
    border-radius: 3px;
    text-decoration: none;
    font-family : Raleway;
    background-color: rgba(255, 255, 255, .9);
}
li#categories {
    float: left; 
    width: 100px;
    border-radius: 3px; 
    margin: 6px;
    font-family : Raleway;
    font-size: 2em;
    padding: 30px;
    background-color: rgba(255, 255, 255, .5);
    text-align: center;
}
li#categories:hover {
    float: left; 
    width: 100px;
    border-radius: 3px; 
    margin: 6px;
    font-family : Raleway;
    font-size: 2em;
    padding: 30px;
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
}
div#postBox {
    width: 45%;
    display: inline-block;
    position: relative;
}
div#catBox {
    width: 45%;
    display: inline-block;
    position: absolute;
}
div#logo{
    width: 60%;
    background-color: rgba(255, 255, 255, .5);
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 5px;
    padding-left: 35px;
    border-right: #8fed84 solid 10px;
}

</style>
</head>
<body>

<div id="logo">
<img src="/images/logo2.png" </a>
</div>

<div id="postBox">
<h1>Highest Rated Seeds</h1>
<ul>
  <% for(var i = 0; i < pTitles.length; i++){ %>
  <li id="posts"><a href="/category/<%= pTitles[i].category_id %>/post/<%= pTitles[i].id %>"><%= pTitles[i].body %></a></li> <% } %>
</ul>
<button><a class="green" href="/forum?offset=<%= paginationDwn %>">Newer seeds</a></button>
<button><a class="green" href="/forum?offset=<%= paginationUp %>">Older seeds</a></button>
</div>


<div id="catBox">
<h1>Roots</h1>
<ul>
  <% for(var i = 0; i < cTitles.length; i++){ %>
  <li id="categories"><a href="/category/<%= cTitles[i].id %>"><%= cTitles[i].title %></a></li> <% } %>
</ul>
</br>
<button><a class="green" href="/categories/new">Add a new category</a></button>
<button><a class="green" href="/categories">See all categories</a></button>
</div>
<form>
    
</form>
</body>
<html>