<!DOCTYPE html>
<body>
  <h1><%= thisPost.title %></h1>
  <h5><%- marky %></h5>
  <h5>Seed Quality: <%= thisPost.vote %></h5>
  <div>
    <img src="<%= thisPost.image %>"
  </div>
  </br>



<!-- This is my vote section -->

<form method="POST" action="/category/<%= thisPost.category_id %>/post/<%= thisPost.id %>/vote/?_method=PUT">
  <input type="hidden" name="vote" value="up">
  <button>Good seed</button>
</form>
<form method="POST" action="/category/<%= thisPost.category_id %>/post/<%= thisPost.id %>/vote/?_method=PUT">
  <input type="hidden" name="vote" value="down">
  <button>Bad seed</button>
</form>


<!-- This is my comment section -->

  <form method="POST" action="/category/<%= thisPost.category_id %>/post/<%= thisPost.id %>/comments">
    <input type="text" name="body" placeholder="comment here">
    <button>Add comment</button>
  </form>

  <div>
  <ul>
    <% for(var i = 0; i < comments.length; i++){ %>
    <li><%= comments[i].body %></li> <% } %>
  </ul>
  </div>

<!-- This is my comment section -->



  <form method="POST" action="/post/<%= thisPost.id %>?_method=DELETE">
    <button>Delete this post</button>
  </form>


  <a href="/category/<%= thisPost.category_id %>">Go back to the category</a>
</body>