<!DOCTYPE html>
<body>
  <h1><%= thisCategory.title %></h1>
  <h5>Root Quality: <%= thisCategory.vote %></h5>
  </br>

  <!-- This is my vote section -->

<form method="POST" action="/category/<%= thisCategory.id %>/vote/?_method=PUT">
  <input type="hidden" name="vote" value="up">
  <button>Good root</button>
</form>
<form method="POST" action="/category/<%= thisCategory.id %>/vote/?_method=PUT">
  <input type="hidden" name="vote" value="down">
  <button>Bad root</button>
</form>


<!-- This is my comment section -->

  </br>
    <form action="/subscriptions" method="POST">
      <input type="text" name="email" placeholder="Add email to subscribe" required>
      <input type="hidden" name="category_id" value="<%= thisCategory.id %>">
      <button>Subscribe to this root</button>
    </form>
  </br>
  <ul>
  <% for(var i = 0; i < posts.length; i++){ %>
  <li><a href="/category/<%= thisCategory.id %>/post/<%= posts[i].id %>"><%= posts[i].title %></a></li> <% } %>
  </ul>
  </br>
  <% if(err) { %>
  <p><%= err %></p>
  <% } %>
  <form method="POST" action="/category/<%= thisCategory.id %>?_method=DELETE">
    <button>Delete this root</button>
  </form>
  </br>
  <a href="/category/<%= thisCategory.id %>/newpost">Create a new seed in this root</a>
  </br>
  <a href="/categories">Go back to roots list</a>
</body>