<!DOCTYPE html>
<body>
  <h1><%= thisPost.title %></h1>
  <h5><%= thisPost.body %></h5>
  </br>
  <div>
    <img src="<%= thisPost.image %>"
  </div>
  </br>
  ////////Here is a downvote button and an upvote button. Maybe it could be a PUT because I am updating a record. I will need an input field here to recieve a value that I will PUT in app.put. Look into hidden inputs.
  <form method="POST" action="/post/<%= thisPost.id %>?_method=DELETE">
    <button>Delete this post</button>
  </form>
  </br>
  <p>Comment on this post</p>
  </br>
  <a href="/category/<%= thisPost.category_id %>">Go back to the category</a>
</body>